{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": "off",
    "no-console": "off",
    "linebreak-style": "off",
    "no-unused-vars": ["error", { "argsIgnorePattern": "next" }]
  }
}
